body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dbd8c5; /* Set page background color */
}

button {
    padding: 5px 25px;
    margin: 2px;
}

.tab-content {
    display: none;
    padding: 20px;
}

#setup .input-row {
    display: flex;
    margin-bottom: 5px;
}

.label-input {
    margin-right: 10px;
    padding: 5px;
    width: 275px;
}

.duration-input {
    margin-right: 10px;
    padding: 5px;
    width: 60px;
}

.main-layout {
    display: flex;
    justify-content: center;
}

.progress-bar-container {
    width: 100px; /* Increased width for the progress bar */
    min-height: 400px;
    background-color: #ffffff;
    position: relative;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

.label-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Right-align all labels in the column */
    padding: 10px;
    text-align: right;
}

.label-item {
    padding: 4px;
    font-size: 18px;
    color: black;
    border-radius: 8px;
}
.progress-bar {
    width: 100%;
    height: 0;
    transition: height 0.1s linear;
}

.grey {
    background-color: #ccc;
}

.yellow {
    background-color: #ffc13b;
}

.green {
    background-color: #4caf50;
}

.countdown-label {
    font-size: 55px; /* Larger font for the countdown label */
    font-weight: bold;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.completed-label {
    color: #808080; /* Grey color */
}

.active-label {
    /* font-size: 24px; Increase the font size for active labels */
    font-weight: bold;
}

.completion-time {
    font-size: 18px;
    text-align: center;
}


@media (max-width: 600px) {
    /* Increase font size for better readability */
    .label-item{
        font-size: 22px;
    }
    .countdown-label {
        font-size: 60px;
    }

    /* Adjust progress bar height and width on small screens */
    .progress-bar-container {
        width: 30%;
    }

    /* Center align labels on smaller screens */
    .label-column {
        align-items: center;
        padding: 5px;
    }
    
    /* Adjust input rows */
    .label-input {
        width: 70%;
    }

    .duration-input {
        width: 25%;
    }

    .tab-content {
        padding: 0px;
        width: 100%;
    }
}
