body {
    font-family: Arial, sans-serif;
}

.tabs button {
    padding: 10px 20px;
    margin: 5px;
}

.tab-content {
    display: none;
    padding: 20px;
}

#setup .input-row {
    display: flex;
    margin-bottom: 10px;
}

.label-input {
    margin-right: 10px;
    padding: 5px;
    width: 100px;
}

.duration-input {
    margin-right: 10px;
    padding: 5px;
    width: 60px;
}

.progress-bar-container {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.progress-bar {
    width: 100%;
    height: 20px;
    margin: 2px 0;
    border-radius: 5px;
    background-color: #ddd;
}

.green {
    background-color: #4caf50;
}

.yellow {
    background-color: #ffc13b;
}

.grey {
    background-color: #ccc;
}
